body {
    font-family: Arial, sans-serif;
}

form {
    max-width: 400px;
    margin: auto;
}

label {
    margin-top: 15px;
    display: block;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 6px;
}

button {
    margin-top: 20px;
    padding: 10px;
    width: 49%;
    background-color: #838383;
    color: white;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
}

button:nth-child(2) {
    background-color: #7e2e29;
}

button:hover {
    opacity: 0.8;
}

fieldset {
    margin-top: 1em;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
}

#mensagem {
    margin-top: 1em;
    padding: 1em;
    border-radius: 0.3em;
}

#mensagem.erro {
    background-color: #f44336;
    color: white;
}

#mensagem.sucesso {
    background-color: #4CAF50;
    color: white;
}

input:invalid {
    border: 2px solid red;
}

input:valid {
    border: 2px solid green;
}
